= render 'shared/navigation'

%section.artist-detail
	.container
		.row
			%h1.section-heading
				#{@artist.name}
		.row
			.col-md-6.col-md-offset-3
				= image_tag(@artist.image.url(:large), class: 'artist-image')
		.row.artist-social
			= link_to(@artist.facebook_link, class: 'artist-social-link', target: '_blank') do
				%span
					= icon('facebook')
			= link_to(@artist.instagram_link, class: 'artist-social-link', target: '_blank') do
				%span
					= icon('instagram')
			= link_to(@artist.twitter_link, class: 'artist-social-link', target: '_blank') do
				%span
					= icon('twitter')
			= link_to(@artist.soundcloud_link, class: 'artist-social-link', target: '_blank') do
				%span
					= icon('soundcloud')

= render 'shared/footer'