%footer.footer
	.container
		.col-md-4.footer-copyright
			%p.footer-copyright-text
				© Off At Forum - 2016
		.col-md-4.footer-social
			= link_to(festival.facebook, class: 'footer-social-link') do
				%span
					= icon('facebook')
			= link_to(festival.instagram, class: 'footer-social-link') do
				%span
					= icon('instagram')
			= link_to(festival.twitter, class: 'footer-social-link') do
				%span
					= icon('twitter')
			= link_to(festival.soundcloud, class: 'footer-social-link') do
				%span
					= icon('youtube')
		.col-md-4.footer-noise
			%p.footer-noise-link
				made with
				= icon('heart')
				by
				= link_to('NOISE','http://www.wemakenoise.tv')
:javascript
	$('body').jpreLoader({
		loaderVPos: '50%',
		autoClose: true,
		showPercentage: true
	});