%nav.navbar
	.navbar-container
		.navbar-header
			= link_to(festival_path(festival), :class => 'navbar-brand') do
				= image_tag('logo.png')
			%button.toggle-navbar
				.icon
					%span
				%span
					Menu
		.navbar-collapse
			%ul.navbar-nav
				%li.active
					= link_to('Home', '#header')
				%li
					= link_to('Videos', '#videos')
				%li
					= link_to('Artists', '#artists')
				%li
					= link_to('News', '#news')
				%li
					= link_to('Location', '#venues')
				= link_to(festival.facebook, class: 'navbar-social-link') do
					%span
						= icon('facebook')
				= link_to(festival.instagram, class: 'navbar-social-link') do
					%span
						= icon('instagram')
				= link_to(festival.twitter, class: 'navbar-social-link') do
					%span
						= icon('twitter')
				= link_to(festival.soundcloud, class: 'navbar-social-link') do
					%span
						= icon('youtube')
:javascript
	$('.navbar-nav li a').click(function(event){
		event.preventDefault();
		$('.navbar-nav li a.active').removeClass('active');
		$(this).addClass('active');
		var hash = $(this).attr('href');
		$('html, body').animate({ scrollTop: $(hash).offset().top }, 1000, 'easeOutExpo');
		$('body').css('overflow', 'auto');
		$('.navbar-collapse').removeClass('show');
	});
	function toggleMenu() {
		if($('.navbar-collapse').hasClass('show')){
			$('body').css('overflow', 'auto');
			$('.navbar-collapse').removeClass('show');
		} 
		else {
			$('.navbar-collapse').addClass('show');
			$('body').css('overflow', 'hidden');
		}
	}
	$('.toggle-navbar').click(function(event) {
		event.preventDefault();
		toggleMenu();
	});