<% flash.each do |key, value| %>
	<h3 class="information">
		<%= value %>
	</h3>
<% end %>
<div class="col-md-4 col-md-offset-4">
	<%= form_for @presscontact do |f| %>
		<div class="row">
			<div class="form-group">
				<%= f.label :name, t('contacts.name'), class: 'control-label' %>
				<%= f.text_field :name, :required => true, class: 'form-control' %>
				<%= f.hidden_field :mail_to, value: festival.press_contact_address %>
				<%= f.hidden_field :festival, value: 'Press Contact from ' + festival.name %>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<%= f.label :name, t('contacts.email'), class: 'control-label' %>
				<%= f.email_field :email, :required => true, class: 'form-control' %>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<%= f.label :name, t('contacts.message'), class: 'control-label' %>
				<%= f.text_area(:message, rows: 10, class: 'form-control') %>
			</div>
		</div>
		<div class="row hidden">
			<div class="form-group">
				<%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<%= f.submit t('contacts.submit'), class: 'btn btn-success' %>
			</div>
		</div>
	<% end %>
</div>
