= render 'shared/navigation'

%section.news-detail
	.container
		.row
			%h1.section-heading
				#{@news.title}
		.row
			.col-md-8.col-md-offset-2
				= image_tag(@news.image.url(:large), class: 'news-image')
		.row
			.col-md-8.col-md-offset-2
				%h2.section-subheading
					#{@news.subtitle}
		.row
			.col-md-8.col-md-offset-2
				%p.section-body
					#{@news.body}

= render 'shared/footer'