- title "#{@festival.name} - Artists"

.left
  %p= @festival.menu_title_artists
.section.artists.normalizer
  .container
    .row
      - @festival.events.each do |event|
        .col-md-12.animate-box{"data-animate-effect" => "fadeInUp"}
          .row
            %h2
              #{event.starts_on.to_date.to_formatted_s(:short)}
              %span 
                #{event.name}
            %h3= event.stage.name
          .row
            - event.artists.each do |artist|
              = link_to artist_path(artist), class: 'artist' do
                .row
                  .col-md-10.cover
                    .row
                      = image_tag(artist.image.url(:small), class: 'img-responsive')
                .row
                  %h2= artist.name
