%section.artists#artists
	.artists-container
		%h1.artists-title
			Artists
		%h2.artists-subtitle
			-
		.artists-filter
			.artists-filter-button.filter{"data-filter" => "all"}
				Todos
			- @events.each do |event|
				.artists-filter-button.filter{"data-filter" => ".#{event.slug}"}
					#{event.name}
		.artists-grid
			- @events.each do |event|
				- event.artists.each do |artist|
					= link_to(festival_artist_path(params[:id],artist), :class => "artists-item mix #{event.slug}") do
						.artists-item-wrap
							- if artist.images.empty?
								.artist-item-ph{:style => "background-image: url(image-not-available.jpg)"}
							- else
								- artist.images.each do |image|
									.artists-item-ph{:style => "background-image: url(#{image.file.url(:large)})"}
							.artists-item-hover
								%p.artists-item-hover-caption
									#{artist.name}
						.artists-item-caption
							%h2.artists-item-caption-title
								#{artist.name}
							%h3.artists-item-caption-subtitle
:javascript
	$('.artists-grid').mixItUp();