%footer.footer
	.footer-container
		.col-md-4.footer-copyright
			%p.footer-copyright-text
				© Off At Sonar - 2016
		.col-md-4.footer-social
			= link_to('http://www.facebook.com', class: 'footer-social-link') do
				%span
					= icon('facebook')
			= link_to('http://www.facebook.com', class: 'footer-social-link') do
				%span
					= icon('instagram')
			= link_to('http://www.facebook.com', class: 'footer-social-link') do
				%span
					= icon('twitter')
		.col-md-4.footer-noise
			%p.footer-noise-link
				made with
				= icon('heart')
				by
				= link_to('NOISE','http://www.wemakenoise.tv')