%nav.navbar
	.navbar-container
		.navbar-header
			= link_to('#header', :class => 'navbar-brand') do
				= image_tag('logo.png')
			%button.navbar-toggle{"data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
				.icon
					%span
				%span.sr-only
					Menu
		.navbar-collapse
			%ul.navbar-nav
				%li.active
					= link_to('Home', '#header')
				%li
					= link_to('Videos', '#videos')
				%li
					= link_to('Artists', '#artists')
				%li
					= link_to('News', '#news')
				%li
					= link_to('Location', '#venues')
				= link_to(@festival.facebook, class: 'navbar-social-link') do
					%span
						= icon('facebook')
				= link_to(@festival.instagram, class: 'navbar-social-link') do
					%span
						= icon('instagram')
				= link_to(@festival.twitter, class: 'navbar-social-link') do
					%span
						= icon('twitter')
				= link_to(@festival.soundcloud, class: 'navbar-social-link') do
					%span
						= icon('youtube')