- @theme.each do |theme|
	%style


	.main{:style => "background-image: url(#{theme.theme.home_photo.url(:high)})"}
		= render 'header'
		= render 'videos'
		= render 'artists'
		= render 'events'
		= render 'news'
		= render 'venues'
		= render 'sponsors'
		= render 'footer'


		- @theme.each do |theme|
			= theme.theme.custom_js.html_safe
			= theme.theme.custom_html.html_safe
