.row.title
	.col-md-12
		%p Collections.
		%a #{@gallery.title}
.row
	.col-md-6.thumbs
		.row#bx-pager
			- if @gallery.images.empty?
				%a.col-md-3.item
					= image_tag('image-not-available.jpg')
			- else
				- @gallery.images.each do |image|
					%a.col-md-3.item
						= image_tag(image.file.url(:large))
						.over
							%p
								+

							
	.col-md-6.viewer
		%ul.bxslider
			- if @gallery.images.empty?
				%li
					= image_tag('image-not-available.jpg')
			- else
				- @gallery.images.each do |image|
					%li
						= image_tag(image.file.url(:large))
:javascript
	$('.bxslider').bxSlider({
		pagerCustom: '#bx-pager'
	});