!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title
        = content_for?(:title) ? content_for(:title) : "Default Title"
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'off-at-forum/application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'off-at-forum/application'
    - widgets.each do |widget|
      = widget.code.html_safe
    = render 'application/favicon'
    = csrf_meta_tags
    = display_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    - flash.each do |name, msg|
      = content_tag :div, msg, class: name
    .subscribe
      .vcenter
        .row
          .col-md-6.col-md-offset-3
            #mc_embed_signup
              %form#mc-embedded-subscribe-form.validate{:action => "//funkypeople.us15.list-manage.com/subscribe/post?u=fa146afffb2978fba04e71f6f&id=9af6f45b6a", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
                #mc_embed_signup_scroll
                  %h2= t('subscribe.title')
                  .mc-field-group.form-group
                    %label{:for => "mce-EMAIL"}
                      #{t('subscribe.email')}
                      %span.asterisk *
                    %input#mce-EMAIL.required.email.form-control{:name => "EMAIL", :type => "email", :value => ""}/
                  .mc-field-group.form-group
                    %label{:for => "mce-FNAME"}
                      #{t('subscribe.name')}
                    %input.form-control#mce-FNAME{:name => "FNAME", :type => "text", :value => ""}/
                  #mce-responses.clear
                    #mce-error-response.response{:style => "display:none"}
                    #mce-success-response.response{:style => "display:none"}
                  / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
                    %input{:name => "b_fa146afffb2978fba04e71f6f_9af6f45b6a", :tabindex => "-1", :type => "text", :value => ""}/
                  .clear
                    %input#mc-embedded-subscribe.button.btn.btn-danger.btn-block{:name => "subscribe", :type => "submit", :value => "#{t('subscribe.submit')}"}/
            / End mc_embed_signup
    #header.col-md-4
      .row
        .col-xs-5.col-md-3.logo
          = link_to root_path do
            = image_tag('off-at-forum/logo.svg', class: 'hidden-xs hidden-sm')
            = image_tag('off-at-forum/logo_mobile.svg', class: 'visible-xs visible-sm')
        #nav.col-xs-7.col-md-6
          .row
            .col-xs-6.col-sm-4.col-md-4
              = link_to festival.menu_title_artists, artists_path
              = link_to festival.menu_title_events, events_path
              = link_to festival.menu_title_videos, videos_path
            .col-xs-6.col-sm-4.col-md-4
              = link_to festival.menu_title_news, news_index_path
              = link_to festival.menu_title_venues, venue_path(1)
              = link_to festival.menu_title_contacts, new_contact_path
            .col-xs-6.col-sm-4.col-md-4.hidden-xs
              = link_to @festival.facebook, class: 'social-link', target: '_blank' do
                %i.fa.fa-facebook-square
              = link_to @festival.twitter, class: 'social-link', target: '_blank' do
                %i.fa.fa-twitter-square
              = link_to @festival.instagram, class: 'social-link', target: '_blank' do
                %i.fa.fa-instagram
              = link_to @festival.youtube, class: 'social-link', target: '_blank' do
                %i.fa.fa-youtube
              %p
                = link_to 'Es', '/es', class: 'lang-link'
                = link_to 'En', '/en', class: 'lang-link'
              = link_to "#{t('nav.stay_updated')}", '#', class: 'subscribe-button'
        .col-md-3.hidden-xs.hidden-sm
          .logo.pull-right
            = image_tag('off-at-forum/logo_b.svg')
    .right.hidden-xs.hidden-sm
      = image_tag('off-at-forum/forum.svg')
    = yield
    #footer
      .container-fluid
        .row
          .col-md-4.text-center
            © 2017 OFF AT FORUM.
            #{t('footer.rights')}
          .col-md-4.text-center
            = link_to '#', target: '_blank' do
              #{t('footer.privacy')}
            = link_to '#', target: '_blank' do
              #{t('footer.terms')}
          .col-md-4.text-center
            = link_to 'http://www.wemakenoise.co', target: '_blank' do
              MADE WITH
              %i.fa.fa-heart
              BY NOISE

:javascript

    var contentWayPoint = function() {
      var i = 0;
      $('.animate-box').waypoint( function( direction ) {

        if( direction === 'down' && !$(this.element).hasClass('animated-fast') ) {
          
          i++;

          $(this.element).addClass('item-animate');
          setTimeout(function(){

            $('body .animate-box.item-animate').each(function(k){
              var el = $(this);
              setTimeout( function () {
                var effect = el.data('animate-effect');
                if ( effect === 'fadeIn') {
                  el.addClass('fadeIn animated-fast');
                } else if ( effect === 'fadeInLeft') {
                  el.addClass('fadeInLeft animated-fast');
                } else if ( effect === 'fadeInRight') {
                  el.addClass('fadeInRight animated-fast');
                } else {
                  el.addClass('fadeInUp animated-fast');
                }

                el.removeClass('item-animate');
              },  k * 200, 'easeInOutExpo' );
            });
            
          }, 100);
          
        }

      } , { offset: '85%' } );
    };

    $(function(){
      contentWayPoint();

      $(window).bind('scroll', function(e){
        var distanceY = $(window).scrollTop();
        if (distanceY > 50) {
            $('#header').addClass('scrolled');
        }
        else {
          $('#header').removeClass('scrolled');
        }
      });

      $('.subscribe, .subscribe-button').click(function(){
        $('.subscribe').toggleClass('active');
      });

      $('.swipebox').swipebox({ autoplayVideos: true });

      $('#fullpage').fullpage({
        scrollOverflow: true,
        onLeave: function(index, nextIndex, direction){
          var leavingSection = $(this);
          var newSection = nextIndex - 1;
          console.log(newSection);
          $('.section').eq(leavingSection).find('.animate-box').each(function(k){
            var el = $(this);
            setTimeout( function () {
              el.removeClass('animated-fast');
            },  k * 200, 'easeInOutExpo' );
          });
          $('.section').eq(newSection).find('.animate-box').each(function(k){
            var el = $(this);
            setTimeout( function () {
              var effect = el.data('animate-effect');
              if ( effect === 'fadein') {
                el.addclass('fadein animated-fast');
              } else if ( effect === 'fadeinleft') {
                el.addclass('fadeinleft animated-fast');
              } else if ( effect === 'fadeInRight') {
                el.addClass('fadeInRight animated-fast');
              } else {
                el.addClass('fadeInUp animated-fast');
              }
            },  k * 200, 'easeInOutExpo' );
          });
        }
      });

    });
